/* HEADER LOGO FIX */
#header .logo {
	width: 5.5rem;
	height: 5.5rem;
	border: solid 1px #ffffff;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#header .logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* BACKGROUND IMAGE */
#bg:after {
	background-image: url("../images/bg.JPG");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
